body {
  font-family: $font-Roboto;
  font-weight: 300;
  background-color: rgba(61, 69, 82, 0.01);
  overflow-x: hidden;

  &.single-product {
    background: rgb(239, 246, 250);
  }

  &.author {
    background: rgb(239, 246, 250);
  }
}

.background-overlay {
  background-color: transparent;
  background-image: linear-gradient(320deg, rgba(0, 13, 255, 0.79) 45%, rgba(107, 115, 255, 0.77) 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.background-center {
  background-position: center center;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.btn {
  background: linear-gradient(170.96deg, rgb(107, 115, 255) -0.5%, rgb(0, 13, 255) 100%);
  box-shadow: 0 5px 8px rgba(0, 123, 255, 0.59);
  border-radius: 20px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.0877093px;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: blod;
}

a {
  &:hover {
    text-decoration: none;
  }
}

@include media-breakpoint-up(lg) {
  .container {
    max-width: 1140px;
  }
}

.pagination {
  li.page-item {
    .page-numbers {
      position: relative;
      display: flex;
      padding: 0;
      font-size: 16px;
      line-height: 31px;
      text-align: center;
      letter-spacing: 0.132987px;
      color: $brand-black;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      margin: 0 10px;
      justify-content: center;
      align-items: center;

      &.current {
        color: rgb(252, 252, 252);
        background-color: rgb(30, 108, 251);
      }
    }
  }
}

.modal-content {
  background: rgb(239, 246, 250);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.269107);
  border-radius: 14px;
}

.lSSlideOuter {
  .lSPager.lSGallery {
    li {
      height: 61px;
      border: 1px solid rgb(51, 51, 51);
      border-radius: 5px;

      &.active {
        height: 91px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(51, 51, 51);
      }
    }
  }
}

.malinky-ajax-pagination-loading img {
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.button-green {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.116946px;
  text-transform: capitalize;
  color: $brand-white;
  background: linear-gradient(160.38deg, rgb(26, 219, 114) -0.5%, rgb(16, 177, 81) 100%);
  border-radius: 20px;
  padding: 10px 28px;
  margin: 5px 15px;
  position: relative;
  z-index: 99;

  &:hover {
    background: linear-gradient(160.38deg, rgb(16, 177, 81) -0.5%, rgb(26, 219, 114) 100%);
    transition: all 1s;
    color: $brand-white;
  }
}

.bg-sections {
  background: url("../images/bg-sections.png"), linear-gradient(134.24deg, rgb(31, 162, 255) -4.21%, rgb(39, 79, 219) 135.73%);
  background-size: cover;
}

@include media-breakpoint-up(lg) {
  .custom-padding {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 110px;
    padding-left: 110px;
  }
}
